.btn {
	align-items: center;
	display: inline-flex;
	justify-content: space-between;
	position: relative;
	overflow: hidden;

	&:before {
		background: rgba( $white, 0.1 );
		content: "";
		display: block;
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		transition: $transition-base;
		width: 100%;
		z-index: 1;
	}

	&:hover:before {
		opacity: 1;
	}

	&.loading:before {
		background: url('../img/loading.svg') no-repeat center center;
		content: "";
		display: inline-block;
		width: 2rem;
		height: 2rem;
		background-size: cover;
		margin-right: 1rem;
	}

	&[disabled] {
		cursor: not-allowed;
	}
}

.button {
	@extend .btn, .btn-gray;

	&.single_add_to_cart_button {
		@extend .btn-primary;
	}
}

.btn-icon-left svg {
	margin-right: $spacer * 0.5;
}

.btn-icon-right svg {
	margin-left: $spacer * 0.5;
}

@each $color, $value in $text-colors {
	.btn-#{$color} {
		color: #{$value};
		fill: #{$value};

		&:hover {
			background-color: map-get( $theme-colors, #{$color} );
			border-color: map-get( $theme-colors, #{$color} );
			color: #{$value};
			fill: #{$value};
		}

		&:not(:disabled):not(.disabled):active,
		&:not(:disabled):not(.disabled).is-active {
			background-color: map-get( $theme-colors, #{$color} );
			border-color: map-get( $theme-colors, #{$color} );
			color: #{$value};
			fill: #{$value};
		}
	}
}
