.file {
	display: flex;
	position: relative;
	width: 100%;

	button {
		display: table-cell;
		vertical-align: middle;
		border-radius: $border-radius 0 0 $border-radius;
	}

	input[type=file] {
		left: 0;
		margin: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
	}

	&.is-disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

.file-selected {
	background-color: $white;
	border-radius: 0 $border-radius $border-radius 0;
	border: $border-width solid $input-border-color;
	border-left: 0;
	color: $body-color;
	flex-shrink: 1;
	font-size: $font-size-sm;
	line-height: 3.6rem;
	margin: 0;
	max-width: 100%;
	overflow: hidden;
	padding: 0 4rem 0 1rem;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
	width: 100%;

	.ft-invalid & {
		background-color: $white;
		border-color: $danger !important;
		color: $danger !important;
	}
}

.file-remove {
	color: $body-color;
	cursor: pointer;
	display: none;
	font-size: 2.4rem;
	opacity: 0.5;
	position: absolute !important;
	right: 0.2rem;
	text-align: center;
	text-decoration: none;
	top: 45%;
	transform: translateY(-50%);
	width: 4rem;

	.is-active & {
		display: block;
	}

	&:hover {
		opacity: 1;
		text-decoration: none;
		color: $body-color;
	}
}

.ft-field--file {
	span.ft-invalid {
		bottom: -0.7rem;
	}

	.file {
		margin: 0;
	}
}
