.nav-links,
.page-numbers {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;

	a {
		color: $dark;
		display: inline-block;
		fill: $dark;
		margin: 0 $spacer * 0.25;
		line-height: 1;

		&:hover {
			color: $primary;
			fill: $primary;
			text-decoration: none;
		}
	}

	span {
		color: $gray;
		display: inline-block;
		margin: 0 $spacer * 0.25;
		opacity: 0.5;
	}
}

.page-numbers {
	padding: 0;
	list-style: none;
}
