table {
	width: 100%;
	font-size: $font-size-sm;

	td, th {
		padding: 1rem;
		vertical-align: middle;
	}

	thead th {
		background: $gray;
		color: $white;
	}

	td {
		background: $white;
		text-align: left;
		border: $border-width solid $lighter;
	}

	&.shop_table_responsive,
	&.table-responsive {
		display: block;

		thead, th {
			display: none;
		}

		tbody {
			display: block;
		}

		tr {
			margin-bottom: $spacer;
			display: block;
			position: relative;

			td:first-child {
				padding-top: $spacer;
			}

			td:last-child {
				padding-bottom: $spacer;
			}
		}

		td {
			display: block;
			padding: 0.5rem $spacer;
			border: none;
		}

		td[data-title] {
			text-align: right;

			&:before {
				content: attr(data-title) ": ";
				float: left;
			}
		}
	}

	caption {
		background: $gray;
		color: $white;
		text-align: center;
	}

	@media ( min-width: map-get( $grid-breakpoints, md ) ) {
		tbody th, tfoot th {
			text-align: right;
		}

		&.shop_table_responsive,
		&.table-responsive {
			display: table;

			thead {
				display: table-header-group;
			}

			tbody {
				display: table-row-group;
			}

			tr {
				display: table-row;
				position: static;

				td:first-child {
					padding-top: 1rem;
				}

				td:last-child {
					padding-bottom: 1rem;
				}
			}

			td, th {
				display: table-cell;
				padding: 1rem;
			}

			td, td[data-title] {
				text-align: left;
				border: $border-width solid $lighter;

				&:before {
					display: none;
				}
			}
		}
	}
}
