.image {
	border-radius: $border-radius;
	height: 0;
	overflow: hidden;
	position: relative;
	transition: $transition-base;
	width: 100%;

	&.image-link:hover {
		opacity: 0.5;
	}

	&:last-child {
		margin: 0;
	}

	a {
		display: inline-block;
	}

	img {
		height: 100%;
		left: 0;
		object-fit: cover;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&.image-none {
		height: auto;

		img {
			height: auto;
			position: relative;
			width: auto;
		}
	}
}

.image-up {
	border-radius: 0 0 $border-radius $border-radius;
}

.image-right {
	border-radius: $border-radius 0 0 $border-radius;
}

.image-down {
	border-radius: $border-radius $border-radius 0 0;
}

.image-left {
	border-radius: 0 $border-radius $border-radius 0;
}

.image-square {
	padding-bottom: 100%;
}

.image-portrait {
	padding-bottom: 133.33%;
}

.image-landscape {
	padding-bottom: 75%;
}

.image-wide {
	padding-bottom: 56.25%;
}

.parallax-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: calc(100% + 20rem);
	position: absolute;
	top: -10rem;
	width: 100%;
	will-change: transform;
}

.normal-image,
.fixed-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: 0;
	position: absolute;
	position: absolute;
	top: 0;
	width: 100%;
}

.fixed-image {
	background-attachment: fixed;
}
