input[type=radio] {
	height: auto;
	width: auto;

	&:checked,
	&:not(:checked) {
		left: -9999px;
		position: absolute;
	}

	&:checked + label,
	&:not(:checked) + label {
		cursor: pointer;
		display: block;
		margin: 1rem 1rem 1rem 0;
		padding-left: 3rem;
		position: relative;
		vertical-align: middle;
	}

	&:checked + label:before,
	&:not(:checked) + label:before {
		background-color: $white;
		border-radius: 100%;
		border: $border-width solid rgba( $gray, 0.3 );
		content: "";
		display: inline-block;
		height: 2rem;
		left: 0;
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		vertical-align: middle;
		width: 2rem;
	}

	&:checked + label:after,
	&:not(:checked) + label:after {
		background-color: $gray;
		border-radius: 100%;
		content: "";
		display: none;
		height: 1.2rem;
		left: 0.4rem;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: all 0.2s ease-out;
		width: 1.2rem;
	}

	&:not(:checked) + label:after {
		display: none;
	}

	&:checked + label:after {
		display: block;
	}

	&:disabled + label {
		cursor: not-allowed;
	}
}
