.slideshow {
	border-radius: $border-radius;
	fill: $white;
	height: 0;
	overflow: hidden;
	position: relative;
	transition: $transition-base;
	width: 100%;
}

.slideshow-wrapper {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.slideshow-square {
	padding-bottom: 100%;
}

.slideshow-portrait {
	padding-bottom: 133.33%;
}

.slideshow-landscape {
	padding-bottom: 75%;
}

.slideshow-wide {
	padding-bottom: 56.25%;
}
